* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.contain-header {
    width: 100%;
    height: 640px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imagenes/ba1.jpg");
    background-size: cover;
    background-position: bottom -45px center;
    background-repeat: no-repeat;
}
.contain-header__nav {
    height: 70px;
    background-color: #424141;
    display: flex;
    justify-content: space-between;
}
.contain-header__nav__div-logo {
    height: 100%;
    display: flex;
    align-items: center;
}
.contain-header__nav__div-logo h2 {
    color: #fff;
    font-size: 1.2rem;
}
.contain-header__nav__div-logo img {
    width: 100px;
    height: 50px;
}
.contain-header__nav__ul {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
}
.contain-header__nav__ul-li {
    list-style: none;
}
.contain-header__nav__ul-li a {
    text-decoration: none;
    color: #9a9696;
    margin-left: 15px;
}
.--li a{
    color: #2aaf2a;
}
.contain-header__nav__ul-li a:hover {
    color: #fff;
}
.contain-header__texto {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 250px;
    padding-right: 120px;
}
.contain-header__texto h1 {
    color: #fff;
    margin-bottom: 15px;
}
.contain-header__texto p {
    width: 450px;
    text-align: right;
    color: #fff;
    margin-bottom: 30px;
}
.contain-header__texto a {
    font-size: 0.9rem;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.contain-header__texto-a1 {
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, .5);
}
.contain-header__texto-a1:hover {
    background-color: #2aaf2a;
}
.contain-header__texto-a2 {
    background-color: #2aaf2a;
}
.contain-header__texto-a2:hover {
    background-color: #1f931f;
}
.section-oradores-p, .section-oradores-h2 {
    text-align: center;
    margin: 5px;
    margin-bottom: 20px;
}
.section-oradores__contain-div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section-oradores__contain-div-item {
    width: 300px;
    height: 500px;
    margin-left: 25px;
    margin-bottom: 30px;
    border: 1px solid rgba(150, 150, 150, .3);
}
.section-oradores__contain-div-item {
    height: 100%;
}
.section-oradores__contain-div-item div {
    width: 90%;
    margin: 0 auto;
}
.section-oradores__contain-div-item img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}
.section-oradores__contain-div-item-p1 {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #efcb18;
}
.section-oradores__contain-div-item-p2 {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #ff0000;
}
.section-img {
    width: 100%;
    display: flex;
}
.section-img-item {
    width: 50%;
}
.section-registro {
    width: 50%;
    margin: 0 auto;
}
.section-registro__form p {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.section-registro__form h2 {
    margin-bottom: 10px;
    text-align: center;
}
.section-registro__form__contain-input {
    display: flex;
    justify-content: space-between;
}
.section-registro__form__contain-input input {
    width: 48%;
    padding: 5px;
    margin-bottom: 20px;
}
.section-registro__form textarea {
    width: 100%;
    margin-bottom: 20px;
    resize: none;
}
.--btn-enviar{
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #90d53b;
    border-radius: 5px;
    margin-bottom: 15px;
}
.--btn-enviar:hover {
    background-color: #77b415;
}
.contain-footer {
    width: 100%;
    background-color: #4b7a82;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contain-footer a {
    text-decoration: none;
    margin: 30px;
    color: #fff;

}
